.git
.gitignore
.env
venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
Frontend
tests
node_modules
**/__pycache__
*.pdf
*.csv
*.json
*.zip
data/
datasets/
models/
chroma_db/
qdrant_storage/
*.bin
*.pt
*.onnx